
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.suminfo {
    text-align: center;
}

.counter {
    display: flex;
    align-items: baseline;
    height: 80px;
    width: 300px;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    border: 1px dashed ;
    /* background-color: rgb(152, 255, 168); */
}

.counter>* {
    height: 100%;
    flex: 1;
    font-size: 32px;
}

.counter button {
    margin: 2px;
}

.AddCounter {
    display: flex;
    align-items: baseline;
    margin: 1rem auto;
    text-align: center;
    padding: 10px;
    text-align: center;
}
